.hero-img img{
    position: absolute;
}
.hero-text{
    position: relative;
    padding: 17% 0;
    text-align: center;
    align-items: center;
}
.hero-text h1{
    color: #ffffff;
    font-size: 80px;
    padding-bottom: 50px;
}
.btn{
    background: #F2F2F226;
    border: 1px solid #F2F2F236;
    border-radius: 15px;
    backdrop-filter: blur(25.200000762939453px);
    padding: 10px 30px;
    font-size: 25px;
    color: #ffffff;
}
.about{
    display: flex;
    padding: 25px 50px 0px 30px;
    align-items: center;
}
.about-img, .about-text{
    width: 50%;
}
.about-img img{
    height: 650px;
    width: 650px;
}
.about-text p{
    font-size: 20px;
    padding-bottom: 35px;
    justify-content: center;
    line-height: 30px;
}
.products-heading{
    text-align: center;
}

