@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import existing styles from App.css */
.img-fluid {
    width: 100%;
    height: auto;
}

h1 {
    font-size: 50px;
}

span {
    color: #B72D24;
}

.btn-red {
    background-color: #DC2626;
    color: #ffffff;
    padding: 10px 30px;
    border: none;
    border-radius: 50px;
    font-size: 20px;
}

.background {
    background-image: url("../assets/—Pngtree—texture of recycled cardboard with_15735637 1.png");
    background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0 0 50px 0;
  }
  


/* Add Playfair Display font */
@font-face {
    font-family: "Playfair Display";
    src: url('../assets/fonts/PlayfairDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}