.background p {
  padding-bottom: 10px;
}
.productinner {
  background: #ffffff;
}
.Facts {
  text-align: center;
}
.fact-content {
  width: 20%;
  text-align: center;
}
.weight {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.product-inner .feature img{
  width: 100px;
  height: 100px;
}
