*{
    margin: 0;
    padding: 0;
}
.back{
    padding: 65px 10px;
    height: auto;
    width: 90%;
    margin: 10px 6%; 
    position: absolute;
    border: 1px solid #000000;
    background: #000000;
    backdrop-filter: blur(25.200000762939453px);
    border-radius: 20px;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    width: 90%;
    margin: 10px auto; 
    background-color: #ffffff;
    position: relative;
    border-radius: 20px;
}
.logo img{
    width: 80%;
}
.logo{
    width:15%;
}
.icon{
    display: flex;
    align-items:center ;
    gap: 20px;
}
.nav{
    display: flex;
    gap: 50px;
}
.nav a{
    color:#000000;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
}
.nav a:hover{
    color: #B72D24;
    text-decoration: underline;
    text-underline-offset: 5px;
}