.img-fluid{
    width: 100%;
    height: auto;
}
h1{
    font-size: 50px;
}
span{
    color: #B72D24;
}
.btn-red{
    background-color: #DC2626;
    color: #ffffff;
    padding: 10px  30px;
    border: none;
    border-radius: 50px;
    font-size: 20px;
}

