.products-card {
  display: flex;
  justify-content: space-around;
  padding: 30px;
}
.card {
  position: relative;
  background-color: #ffeada;
  border-radius: 20px;
  height: 100%;
}
.card .product-img img {
  height: 400px;
  width: 322px;
  margin-left: 14%;
}
.heart {
  background-color: white;
  padding: 20px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-left: 80%;
  margin-top: 2%;
  position: absolute;
}
.product-name {
  position: absolute;
  margin-top: -27%;
  color: white;
  font-size: 23px;
  padding: 0 10px;
  margin-left: -3px;
  font-weight: 600;
}


.rating {
  position: absolute;
  margin-left: 75%;
  margin-top: -28%;
  background-color: white;
  padding: 8px 20px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 15px;
  font-weight: 500;
}
.prices {
  display: flex;
  gap: 15px;
  align-items: center;
}
.product-price {
  position: absolute;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding: 16px 20px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: -18%;
  align-items: center;
}
.discount-price {
  color: #dc2626;
  font-size: 20px;
  font-weight: 700;
}
.current-price {
  color: #adaebc;
  text-decoration: line-through;
  font-size: 18px;
  font-weight: 500;
}
.product-cart {
  border-radius: 50%;
  padding: 8px 10px;
  box-shadow: 0px 0px 4.96px 0px #00000040;
}
